* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style-type: none;
}
.date-panel {
  margin: 20px auto;
  position: relative;
  padding: 10px;
  width: 305px;
  height: 340px;
  background-color: #fff;
  border: 2px solid;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 5px 5px 3px #ddd;
}
.date-panel .date-operate {
  width: 100%;
  min-height: 30px;
  border-bottom: 2px solid;
}
.date-panel .date-operate div {
  width: 41.5%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.date-panel .date-operate .year-list {
  width: 100%;
  height: 0;
  background-color: #e9ece5;
  z-index: 2;
  transition: height 0.2s ease-out;
}
.date-panel ol,
.date-panel ul {
  width: 100%;
  font-size: 0;
}
.date-panel ol li,
.date-panel ul li {
  width: 40px;
  height: 40px;
  line-height: 28px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}
.date-panel ol li i,
.date-panel ul li i {
  margin: 5px auto;
  width: 30px;
  height: 30px;
  font-style: normal;
  border-radius: 4px;
  display: block;
}
.date-panel ol li i:hover,
.date-panel ul li i:hover {
  font-weight: bold;
  font-size: 20px;
}
.date-panel ol li .active,
.date-panel ul li .active {
  color: #fff;
}
.date-panel ol li .hidden,
.date-panel ul li .hidden {
  color: #e9ece5;
}
.date-panel .focus-day {
  position: absolute;
  top: 40px;
  left: -30px;
  width: 40px;
  height: 40px;
  border-bottom: 2px solid #ecd06f;
  visibility: hidden;
}
.date-panel #yearList {
  position: absolute;
  top: 0;
  left: 15px;
  background-color: #fff;
  z-index: 1;
  width: 100%;
  height: 100px;
  visibility: hidden;
}
